.portfolio {
  background-image: url('https://imgur.com/eSQLqlF.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100%;
  min-height: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-content: center;
}

.projectListContainer {
  width: 20%;
  height: 80px;
  display: grid;
  align-items: center;
  letter-spacing: 0.1em;
  margin-left: 4%;
}

.projectName {
  width: 100%;
  margin: 2% 0%;
  font-size: 1em;
  background-color: transparent;
  cursor: pointer;
}

.portfolioContainer {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 2%;
  border-top: 1px solid #ccc;
}

.textBlockPortfolio {
  font-size: 16px;
  font-weight: 500;
  margin: 10% 15%;
  grid-column-start: 2;
  grid-column-end: 3;
}

.imageGallery {
  margin: 10%;
  width: 100%;
  height: 70%;
  background-color: #222;
}

.positionTitle {
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.textDescription {
  line-height: 2em;
}

.checkoutBox {
  width: 100%;
  height: 10%;
  display: flex;

  .portfolioButton {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;

    .checkoutIcons {
      height: 100%;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0% 2.5%;
    }

    .checkoutButton {
      background-color: #000;
      color: #fff;
      letter-spacing: 0.1em;
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 300px) {
  .projectListContainer {

    width: 90%;
    height: 80px;
    display: grid;
    align-items: center;
    letter-spacing: 0.1em;
    margin-left: 4%;
  }

  .projectListTitle {
    font-size: 12px;
  }

  .projectName {
    width: 100%;

    margin: 2% 0%;
    font-size: 12px;
    background-color: transparent;
    cursor: pointer;
  }

  .imageGallery {
    width: 80%;
    height: 60%;
    background-color: #222;
  }

  .textBlockPortfolio {
    font-size: 12px;
    font-weight: 300;
    margin: 15% 5%;
  }

  .portfolioContainer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
  }

  .checkoutBox > .portfolioButton > .checkoutButton {
    background-color: #000;
    color: #fff;
    letter-spacing: 0.1em;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  .checkoutBox > .portfolioButton > a > .checkoutIcons {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0% 2.5%;
  }
}

@media only screen and (min-width: 1000px) {

  .projectListTitle {
    font-size: 16px;
  }

  .projectListContainer {

    width: 20%;
    height: 80px;
    display: grid;
    align-items: center;
    letter-spacing: 0.1em;
    margin-left: 4%;
  }

  .projectName {
    width: 100%;
    margin: 2% 0%;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
  }

  .imageGallery {
    margin: 10%;
    width: 100%;
    height: 70%;
    background-color: #222;
  }

  .textBlockPortfolio {
    font-size: 16px;
    font-weight: 500;
    margin: 10% 15%;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .portfolioContainer {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 2%;
    border-top: 1px solid #ccc;
  }

  .checkoutBox > .portfolioButton > a > .checkoutIcons {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0% 2.5%;
  }

  .checkoutBox > .portfolioButton > .checkoutButton {
    background-color: #000;
    color: #fff;
    letter-spacing: 0.1em;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

}
