.resume {
  background-image: url('https://imgur.com/elDesEk.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  align-content: center;
}

.button {
  padding: 21px 34px;
  margin-top: 20px;
  font-size: 11px;
  background-color: transparent;
  border: 1px solid #e1a87a;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
   &:hover {
    background-color: #e1a87a;
    color: #000;
   }
}

.gridA {
  grid-template-columns: 30% 70%;
  font-family: 'Raleway', sans-serif;
  display: grid;
  align-content: center;
  padding-right: 5%;
}

.item1 {
  grid-column: 1 / 2;
  font-size: 26px;
}
.item2 {
  grid-column: 2 / 2;
  padding-top: 10px;
  font-size: 16px;
}