.home {
  background-image: url('https://imgur.com/VfabQxi.png');
  background-size: cover;
}

.centerTextContainer {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-50%, -50%);
}

.centerText {
  font-family: 'Roboto', sans-serif !important;
  display: block;
  font-size: 74px;
  font-weight: 600;
  letter-spacing: .015em;
  line-height: 1em;
  color: #fff;
}

.button {
  top:65%;
  left: 28%;
  position: relative;
  padding: 21px 34px;
  font-size: 11px;
  background-color: transparent;
  border: 1px solid #e1a87a;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
   &:hover {
    background-color: #e1a87a;
    color: #000;
   }
}

@media only screen and (max-width: 800px) {
  .home {
    background-image: url('https://imgur.com/05mipOY.png');
  }

}

@media only screen and (max-width: 600px) {
  .centerText {
    font-size: 38px;
  }
}

@media only screen and (max-width: 400px) {
  .centerText {
    font-size: 30px;
  }
}