.home {
  background-image: url('../../images/home.jpg');
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100%;
  min-width: 1024px;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .home {
    background-image: url('../../images/home.webp');
  }
}