.navigationTitle {
  font-size: 15px;
  margin: 15px;
  padding: 2px;
  float: right;

  &:hover:after {
    width: 100%;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
  }
}