body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

.background {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  min-width: 1024px;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-content: center;
}


@media only screen and (max-width: 400px) {
  .background {
    
  }

  .centerText {
    font-size: 30px;
  }
}

@media only screen and (min-width: 601) {
  .centerText {
    font-size: 48px;
  }
}